# dependencies
*node_modules

# testing
*coverage

# production
*build
*release
*test

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OSX
*~
*.DS_Store
*.swp
*.out

# Windows
Thumbs.db

# dotenv-rails
.env*

# Compiled css
src/custom.css

*yarn.lock
