html,
body,
.ant-list {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 300;
  background: #101117;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3,
h5,
h6 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

button {
  max-width: 140px;
  height: 28px;
}

html,
body,
.root,
.app-container {
  overscroll-behavior-y: none;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

* {
  box-sizing: border-box;
}

a {
  color: #3fcaff;
}

.col-justify-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col-justify-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row-align-between {
  display: flex;
  align-items: space-between;
}

.row-align-start {
  display: flex;
  align-items: flex-start;
}

.row-align-center {
  display: flex;
  align-items: center;
}

.row-align-end {
  display: flex;
  align-items: flex-end;
}

.row-space-between {
  display: flex;
  justify-content: space-between;
}

.row-space-around {
  display: flex;
  justify-content: space-around;
}

.col {
  display: flex;
  flex-direction: column;
}

.text-black {
  color: $text_black;
}

.text-grey {
  color: $text_grey;
}

.text-light-grey {
  color: #e5e5e5;
}

.text-off-white {
  color: #f4f4f4;
}

.text-white {
  color: #fff;
}

.text-blue {
  color: #3fcaff;
}

.text-green {
  color: #0ab06a;
}

.text-warning {
  color: #ff597a;
}

.uppercase {
  text-transform: uppercase;
}

.hover-link {
  &:hover {
    cursor: pointer;
    color: #ee0804;
    transition: color 0.5s;
  }
}

.circular-loading {
  position: absolute;
  z-index: 99999;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #242424;
  color: #fff;
}

.padded-container {
  padding-left: 160px;
  padding-right: 160px;

  @include responsive(bigscreen) {
    padding-left: calc((100% - 1120px) / 2);
    padding-right: calc((100% - 1120px) / 2);
  }

  @include responsive(tablet) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @include responsive(mobile) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.show-on-mobile {
  display: none;
  @include responsive(mobile) {
    display: block;
  }
}

.hide-on-mobile {
  display: block;
  @include responsive(mobile) {
    display: none;
  }
}